<div class="navbar navbar-expand-lg header justify-content-between">
    <div>
        <a href="/" class="navbar-brand"><img src="/img/logo_prb.jpg" class="logo" alt="logo prb"/></a>
        <nav class="navbar-brand">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">HISTORIQUE</a></li>
                <li class="nav-item"><a class="nav-link" href="/form">NOUVELLE COMMANDE</a></li>
            </ul>
        </nav>
    </div>
    <span class="user-infos">
        <span>{ this.state.name }</span>
        <a href="/logout"><i class="fas fa-power-off logout"></i></a>
    </span>
</div>